@import "tailwindcss";

#root {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto; 
  gap: 10px;
}

.componente {
  border: 1px solid black;
  background-color: rgb(202, 202, 202);
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  min-height: 350px;
}


button { 
  width: 150px;
  height: 50px;
  background-color: greenyellow;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: green;
}

ul {
  justify-content: center;
  text-align: center;
}

li {
  border: 1px solid black;
  width: 300px;
  margin: 20px;
  background-color: burlywood;
  border-radius: 10px;
}

input {
  border: 1px solid black;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 15px;
  margin: 10px;
}