@import "tailwindcss";

#root {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto; 
  gap: 10px;
}

.componente {
  border: 1px solid black;
  background: linear-gradient(to bottom, #94e28c, #d7dacf);
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  min-height: 300px;
}

.contenido {
  text-align: center;
  justify-content: center;
  margin: 15px;
  height: 80%;
}

h1 {
  font-size:x-large;
}
h2 {
  font-size: large;
}

button { 
  width: 150px;
  height: 50px;
  background-color: greenyellow;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: green;
}

ul {
  justify-content: center;
  text-align: center;
}

li {
  border: 1px solid black;
  width: 300px;
  margin: 20px;
  background-color: burlywood;
  border-radius: 10px;
}

input {
  border: 1px solid black;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 15px;
  margin: 10px;
}